apiVersion: v1
kind: ConfigMap
metadata:
  name: tandoor-config
  namespace: tandoor
data:
  .env: |
    # Database settings
    POSTGRES_HOST=tandoor-db
    POSTGRES_PORT=5432
    POSTGRES_USER=tandoor
    POSTGRES_DB=tandoor
    
    # Django settings
    DEBUG=0
    ALLOWED_HOSTS=*,localhost,recipes.{{ domain }}
    
    # Serving
    CSRF_TRUSTED_ORIGINS=https://recipes.{{ domain }}
    
    # Static & Media Files
    STATIC_URL=/static/
    MEDIA_URL=/media/
    
    # Feature flags
    ENABLE_PDF_EXPORT=1