apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tandoor-db
  namespace: tandoor
  labels:
    app: tandoor-db
spec:
  serviceName: tandoor-db
  replicas: 1
  selector:
    matchLabels:
      app: tandoor-db
  template:
    metadata:
      labels:
        app: tandoor-db
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: tandoor-config
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tandoor-secret
                  key: POSTGRES_PASSWORD
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 5Gi
