
env:
  TZ: {{ timezone }}

ingress:
    main:
        enabled: true
        className: traefik
        annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
        hosts:
          - host: tandoor.{{ domain }}
            paths:
              - path: /
              - path: /static
                service:
                  port: 80
              - path: /media
                service:
                  port: 80
        tls:
          - hosts:
            - tandoor.{{ domain }}
    
persistence:
  config:
    enabled: true
    retain: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
  media:
    enabled: true
    mountPath: /opt/recipes/mediafiles
    retain: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 2Gi
