radarr:
  image:
    repository: ghcr.io/hotio/radarr
    tag: release-5.21.1.9799
    pullPolicy: IfNotPresent

  env:
    TZ: {{ timezone }}
  
  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - host: radarr.{{ domain }}
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - radarr.{{ domain }}

  
  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 2Gi
      storageClass: longhorn
      mountPath: /config