qbittorrent:
  env:
    TZ: {{ timezone }}

  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - host: qbittorrent.{{ domain }}
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - qbittorrent.{{ domain }}

  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 2Gi
      storageClass: longhorn
      mountPath: /config              