
env:
  - name: TZ
    value: "{{ timezone }}"

# Ingress configuration
ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
  hosts:
    - host: home.{{ domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - home.{{ domain }}

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: longhorn
  annotations:
    longhorn.io/backup: "true"

configuration:
  enabled: true
  forceInit: true
  trusted_proxies:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 10.42.0.0/16


