# default values https://github.com/mmuenker/audiobookshelf-chart/blob/development/values.yaml
audiobookshelf:
  timezone: "{{ timezone }}"
  replicaCount: 1

  # Ingress configuration
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    hosts:
      - host: audiobookshelf.{{ domain }}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - audiobookshelf.{{ domain }}

  persistence:
    config:
      enabled: true
      mountPath: /config
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 1Gi
      annotations:
        longhorn.io/backup: "false"
    metadata:
      enabled: true
      mountPath: /metadata
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 1Gi
      annotations:
        longhorn.io/backup: "true"

  image:
    repository: ghcr.io/advplyr/audiobookshelf
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "2.9.0"