ingress:
enabled: true
annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.tls.certresolver: le
hosts:
    - host: jellyfin.{{ domain }}
    paths:
        - path: /
        pathType: Prefix
tls:
    - hosts:
        - jellyfin.{{ domain }}
        
persistence:
config:
    enabled: true
    size: 1Gi
