app:
  base_url: https://proxy.{{ domain }}
  log_level: info
  save_logs: false

server:
  external_port: 3000
  internal_port: 3001
  next_port: 3002
  internal_hostname: pangolin
  secure_cookies: true
  session_cookie_name: p_session
  resource_session_cookie_name: p_resource_session

traefik:
  cert_resolver: letsencrypt
  http_entrypoint: web
  https_entrypoint: websecure
  prefer_wildcard_cert: true

gerbil:
  start_port: 51820
  base_endpoint: proxy.{{ domain }}
  use_subdomain: false
  subnet_group: 10.0.0.0/8
  block_size: 16

rate_limits:
  global:
    window_minutes: 1
    max_requests: 100

email:
  smtp_host: host.hoster.net
  smtp_port: 587
  smtp_user: no-reply@{{ domain }}
  smtp_pass: aaaaaaaaaaaaaaaaaa
  no_reply: no-reply@{{ domain }}

users:
  server_admin:
    email: {{ email }}
    password: {{ vault_pangolin_pw }}

flags:
  require_email_verification: true
  disable_signup_without_invite: true
  disable_user_create_org: true