---
persistence:
  defaultClass: true
  defaultClassReplicaCount: "{{ [groups['k3s_cluster'] | length, 3] | min }}" 
  
defaultSettings:
  defaultDataPath: "/var/lib/longhorn"

metrics:
  serviceMonitor:
    enabled: true
    interval: 30s
    additionalLabels:
      release: prometheus


longhornUI:
  replicas: "{{ [groups['k3s_cluster'] | length, 2] | min }}" 