---
deployment:
  enabled: true
  replicas: 3

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: 100.64.0.1

tlsStore:
  default:
    defaultCertificate:
      secretName: "{{ tls_secret_name }}"