---
deployment:
  enabled: true
  replicas: {{ [groups['master'] | length, 3] | min }}

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: "{{ tailscale_primary_ip }}"
tlsStore:
  default:
    defaultCertificate:
      secretName: "{{ tls_secret_name }}"