---
# default values
# https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd

global:
  domain: argocd.{{ domain }}

server:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    extraTls:
      - hosts:
        - argocd.{{ domain }}

configs:
  params:
    server.insecure: true
  cm:
    dex.config: |
      connectors:
      - config:
          issuer: https://authentik.{{ domain }}/application/o/argocd/
          clientID: ${AUTHENTIK_CLIENT_ID} 
          clientSecret: ${AUTHENTIK_CLIENT_SECRET}
          insecureEnableGroups: true
          scopes:
            - openid
            - profile
            - email
        name: authentik
        type: oidc
        id: authentik

dex:
  env:
    - name: AUTHENTIK_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: argocd-authentik-credentials
          key: authentik_client_id
    - name: AUTHENTIK_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: argocd-authentik-credentials
          key: authentik_client_secret