# default values
# https://gitlab.com/gitlab-org/charts/gitlab/-/blob/master/values.yaml

global:
  hosts:
    domain: "{{ domain }}"
    gitlab:
      name: gitlab.{{ domain }}
  ingress:
    enabled: true
    configureCertmanager: false
    provider: traefik
    class: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    tls:
      enabled: true
      secretName: "{{ tls_secret_name }}"
  edition: ce
  
  # appConfig:
  #   omniauth:
  #     enabled: true
  #     autoSignInWithProvider: 'openid_connect'
  #     syncEmailFromProvider: ['openid_connect']
  #     syncProfileFromProvider: ['openid_connect']
  #     syncProfileAttributes: ['email']
  #     allowSingleSignOn: ['openid_connect']
  #     blockAutoCreatedUsers: false
  #     autoLinkLdapUser: false
  #     autoLinkSamlUser: true
  #     autoLinkUser: ['openid_connect']
  #     externalProviders: []
  #     allowBypassTwoFactor: []
  #     providers:
  #       - secret: gitlab-authentik-oauth2
  #         key: provider

gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: "{{ [groups['k3s_cluster'] | length, 3] | min }}"    
    extraEnv:
      OAUTH_ALLOW_SSO: 'true'
      OAUTH_AUTO_LINK_USER: 'true'
      OAUTH_AUTO_SIGN_IN_WITH_PROVIDER: 'openid_connect'
    ingress:
      enabled: true
      tls:
        enabled: true
        secretName: "{{ tls_secret_name }}"
    resources:
      limits:
        memory: 2Gi
      requests:
        memory: 1Gi
  sidekiq:
    resources:
      limits:
        memory: 1Gi
      requests:
        memory: 512Mi
  gitlab-shell:
    resources:
      limits:
        memory: 256Mi
      requests:
        memory: 128Mi

certmanager:
  install: false

nginx-ingress:
  enabled: false

gitlab-runner:
  install: false

prometheus:
  install: false

redis:
  master:
    resources:
      limits:
        memory: 512Mi
      requests:
        memory: 256Mi

postgresql:
  resources:
    limits:
      memory: 1Gi
    requests:
      memory: 512Mi