kube-prometheus-stack:
  grafana:
    enabled: false

  thanosRuler:
    enabled: false

  kubeDns:
    enabled: false

  prometheus:
    enabled: true

    prometheusSpec:
      retention: 60d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi

    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - prometheus.{{ domain }}
      path: /
      pathType: Prefix
      tls:
        - hosts:
            - prometheus.{{ domain }}

  alertmanager:
    enabled: true
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - alertmanager.{{ domain }}
      tls:
        - hosts:
            - alertmanager.{{ domain }}
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 5Gi

  kubeStateMetrics:
    enabled: true
  
  nodeExporter:
    enabled: true
  
  prometheusOperator:
    enabled: true
    
  # Enable monitoring for k8s components
  kubeApiServer:
    enabled: true
  
  kubelet:
    enabled: true
  
  kubeControllerManager:
    enabled: true
  
  kubeScheduler:
    enabled: true
  
  kubeProxy:
    enabled: true
  
  kubeEtcd:
    enabled: true
  
  coreDns:
    enabled: true

  # ServiceMonitor for Longhorn
  additionalServiceMonitors:
    - name: longhorn
      selector:
        matchLabels:
          app: longhorn-manager
      namespaceSelector:
        matchNames:
          - longhorn-system
      endpoints:
        - port: manager
          interval: 30s
          path: /metrics
