---
# default values
# https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd

global:
  domain: argocd.{{ domain }}

server:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
    extraTls:
      - hosts:
        - argocd.{{ domain }}

configs:
  cm:
    url: https://argocd.{{ domain }}
    dex.config: |
      connectors:
      - type: oidc
        id: authentik
        name: authentik
        config:
          issuer: https://authentik.{{ domain }}/application/o/argocd/
          clientID: $authentik_client_id
          clientSecret: $authentik_client_secret
          redirectURI: https://argocd.{{ domain }}/api/dex/callback
          insecureSkipVerify: true
          scopes:
            - openid
            - profile
            - email
dex:
  enabled: true
  env:
    - name: authentik_client_id
      valueFrom:
        secretKeyRef:
          name: argocd-authentik-credentials
          key: authentik_client_id
    - name: authentik_client_secret
      valueFrom:
        secretKeyRef:
          name: argocd-authentik-credentials
          key: authentik_client_secret