---
replicaCount: 1

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
  hosts:
    - host: git.{{ domain }}
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - git.{{ domain }}

persistence:
  enabled: true
  size: 10Gi
  storageClass: longhorn
  accessModes:
    - ReadWriteOnce

gitea:
  admin:
    existingSecret: gitea-admin-secret

  oauth:
    - name: "authentik"
      provider: "openidConnect"
      existingSecret: gitea-authentik-secret
      autoDiscoverUrl: "https://authentik.{{ domain }}/application/o/gitea/.well-known/openid-configuration"
      iconUrl: https://authentik.{{ domain }}/static/dist/assets/icons/icon.svg
      scopes: "email profile"
  
  config:
    server:
      ROOT_URL: "https://git.{{ domain }}"
      DOMAIN: git.{{ domain }}
      SSH_DOMAIN: git.{{ domain }}
    database:
      DB_TYPE: postgres
      HOST: gitea-postgresql-ha-pgpool:5432
      NAME: gitea
      USER: gitea
      LOG_SQL: true
    oauth2_client:
      ENABLE_AUTO_REGISTRATION: true
    log:
      LEVEL: debug

redis-cluster:
  enabled: true
  usePassword: false
  cluster:
    nodes: {{ [groups['master'] | length, 3] | min }}
    replicas: 0

postgresql-ha:
  enabled: true
  global:
    postgresql:
      database: gitea
      username: gitea
      password: "{{ gitea_postgresql_password }}"
  postgresql:
    repmgrPassword: "{{ gitea_repmgr_password }}"
    postgresPassword: "{{ gitea_postgresql_password }}"
    password: "{{ gitea_postgresql_password }}"
  pgpool:
    adminPassword: "{{ gitea_pgpool_password }}"
  service:
    ports:
      postgresql: 5432
  persistence:
    size: 10Gi
    storageClass: longhorn