---
# default values
# https://artifacthub.io/packages/helm/rancher-stable/rancher?modal=values
hostname: rancher.{{ domain }}

replicas: "{{ [groups['k3s_cluster'] | length, 3] | min }}"

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
  pathType: ImplementationSpecific
  path: "/"
  servicePort: 80