---
persistence:
  defaultClass: true
  defaultClassReplicaCount: "{{ [groups['master'] | length, 3] | min }}" 
  
defaultSettings:
  defaultDataPath: "/var/lib/longhorn"
  guaranteedEngineManagerCPU: 0
  guaranteedReplicaManagerCPU: 0
  guaranteedInstanceManagerCPU: 0

instanceManager:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

longhornUI:
  replicas: "{{ [groups['master'] | length, 2] | min }}" 