---
prometheus:
  server:
    retention: "60d"

    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
      hosts:
        - prometheus.{{ domain }}
      path: /
      pathType: Prefix
      tls:
        - hosts:
            - prometheus.{{ domain }}

    persistentVolume:
      enabled: true
      accessModes:
        - ReadWriteOnce
      size: 50Gi
      storageClass: "longhorn"

    alertmanager:
      enabled: true
      persistence:
        size: 2Gi
        storageClass: "longhorn"
      