ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.middlewares: default-default-headers@kubernetescrd
  hosts: 
    - grafana.{{ domain }}
  path: /
  pathType: Prefix
  tls:
    - hosts:
        - grafana.{{ domain }}

grafana.ini:
  auth:
    signout_redirect_url: "https://authentik.{{ domain }}/application/o/grafana/end-session/"
    oauth_auto_login: true
  auth.generic_oauth:
    name: authentik
    enabled: true
    client_id: ${authentik_client_id} 
    client_secret: ${authentik_client_secret}
    scopes: "openid profile email"
    auth_url: "https://authentik.{{ domain }}/application/o/authorize/"
    token_url: "https://authentik.{{ domain }}/application/o/token/"
    api_url: "https://authentik.{{ domain }}/application/o/userinfo/"
    role_attribute_path: contains(groups, 'authentik Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'

env:
  GF_SERVER_ROOT_URL: "https://grafana.{{ domain }}"
  GF_SECURITY_ADMIN_USER: admin
  GF_SECURITY_ADMIN_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: grafana-admin-secret
        key: admin-password
  
envFromSecret: "grafana-authentik-credentials"